{{> header }}
<h1>Login</h1>
{{#error}}
    <p class="error">{{error}}</p>
{{/error}}
<form method="POST">
    <label for="nombre_de_usuario">Nombre de usuario:</label>
    <input type="text" id="nombre_de_usuario" name="nombre_de_usuario" required>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required>

    <input type="submit" value="Iniciar sesión">
</form>
{{> footer }}