<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>


</head>
<body>
<div class="ranking-container">
    <h2>Ranking</h2>
    <table class="ranking-table">
        <thead>
        <tr>
            <th>Jugador</th>
            <th>Puntuación</th>
        </tr>
        </thead>
        <tbody id="ranking-body">

        </tbody>
    </table>
    <a href="index.php?controller=Home&method=get"><button>Cerrar</button></a>
</div>