
<h1>Registro de usuario</h1>

<form action="index.php?controller=Registro&action=insertar" method="post" enctype="multipart/form-data">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre"><br><br>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido"><br><br>

    <label for="ano_de_nacimiento">Año de nacimiento:</label>
    <input type="text" id="ano_de_nacimiento" name="ano_de_nacimiento"><br><br>

    <label for="sexo">Sexo:</label>
    <select id="sexo" name="sexo">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Prefiero no cargarlo">Prefiero no cargarlo</option>
    </select><br><br>

    {{! <label for="country">Country:</label>
    <input type="text" id="country" name="country"><br><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city"><br><br> }}

    <label for="mail">Email:</label>
    <input type="mail" id="mail" name="mail"><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena"><br><br>
    <label for="confirmar_contrasena">Confirmar contraseña:</label>
    <input type="password" id="confirmar_contrasena" name="confirmar_contrasena"><br><br>

    <label for="nombre_de_usuario">Nombre de usuario:</label>
    <input type="text" id="nombre_de_usuario" name="nombre_de_usuario"><br><br>

    <label for="foto_de_perfil">Foto de perfil:</label>
    <input type="file" id="foto_de_perfil" name="foto_de_perfil"><br><br>


    <input type="submit" value="Enviar" name="submit">
</form>
<a href="index.php?controller=Home&method=get"><button type="button">Volver</button></a>
