


<body>
<div class="container w3-center">
    {{#usuario}}
    <h2 class="w3-pink w3-center w3-padding">Bienvenido, {{usuario}}!</h2><br>
    <a href="index.php?controller=verPerfil&method=get" class="w3-button w3-round-xxlarge w3-gray">VerPerfil</a>

    <a href="index.php?controller=Login&action=logout" class="w3-button w3-round-xxlarge w3-gray">Cerrar Sesión</a><br><br><br><br>

    </form>
    {{/usuario}}
    {{^usuario}}
    <form class="login-form" action="index.php?controller=Login&action=get" method="post">
        <h2 class="w3-pink w3-center w3-padding">Login</h2><br><br><br><br>
        Usuario: <input type="text" name="usuario" id="usuario" class="w3-round-xxlarge"><br><br>
        Password: <input type="password" name="password" id="password" class="w3-round-xxlarge"><br><br>
        <input type="submit" value="Login" class="w3-button w3-round-xxlarge w3-gray">
        <a class="register-link w3-button w3-round-xxlarge w3-gray" href="index.php?controller=Registro&action=get">Registrarse</a><br><br><br><br>
    </form>
    {{/usuario}}

    {{#error}}
    <div class="errors">
      {{error}}
    </div>
    {{/error}}
</div>

<main  class="w3-center">

    <a href="index.php?controller=Juego&action=resetGame" class="w3-btn w3-round-xxlarge w3-pink" style="width: 60%">Jugar</a><br><br>
    <a href="index.php?controller=Edicion&action=get"class="w3-btn w3-round-xxlarge w3-pink" style="width: 60%">CrearPreguntas</a><br><br>
    <a href="index.php?controller=Ranking&action=get"class="w3-btn w3-round-xxlarge w3-pink" style="width: 60%">Ver Ranking</a><br><br>

</main>
</body>