
<main>
    <div>

        {{#finalizado}}
        <!-- Popup de Fin de Partida -->
        <div id="finPopup" class="w3-round-xxlarge w3-pink"
        style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); z-index: 1000;">
            <h3  class="w3-center">Partida finalizada</h3>
            <p  class="w3-center">Su puntuación es de: <span id="finalPuntaje">{{puntajeFinal}}</span></p>
            <button id="homeButton" class="w3-button w3-round-xxlarge w3-light-gray">Volver al Home</button>
            <button id="Volver_a_jugar" class="w3-button w3-round-xxlarge w3-light-gray">Volver a jugar</button>
        </div>

        <!-- Fondo Oscuro para el Popup -->
        <div id="popupBackground" style="display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 500;"></div>
        {{/finalizado}}
        {{^finalizado}}
            <img src="/public/img/fotoPerfil/{{foto_de_perfil}}" class="w3-circle w3-border w3-margin" style="width: 5rem"/>
            <h2 class="w3-center {{categoria_estilo}}">{{nombreUsuario}}</h2>

            <h3 class="w3-center">{{categoria}}</h3>

        <h3 class="w3-center w3-{{color}}">{{pregunta}}</h3>

        <div id="respuestas">
            {{#respuestas}}
            <form method="post" action="index.php?controller=juego&action=verificarRespuesta" id="timeoutForm" class="w3-center">
                <input type="hidden" name="pregunta_id" value="{{pregunta_id}}">
                <button name="respuesta_id" id="respuesta_id" value="{{id}}" class="w3-button w3-round-xxlarge w3-gray">{{respuesta}}</button><br><br>
            </form>
            {{/respuestas}}
        </div>
        <div class="w3-center w3-pink w3-padding">
            <h5>Puntaje: <span>{{puntaje}}</span></h5>
        </div>
    </div>

    <div>
        <h5 class="w3-center w3-pink w3-padding">Tiempo restante: <span id="timer">30</span> segundos</h5>
    </div>



    {{/finalizado}}
</main>

<script>
    // Temporizador de 30 segundos
    let timeLeft = 30;
    const timerElement = document.getElementById('timer');

    const countdown = setInterval(() => {
        if (timeLeft <= 0) {
            clearInterval(countdown);
            document.getElementById('timeoutForm').submit(); // Enviar automáticamente si el tiempo se agota
        } else {
            timerElement.innerText = timeLeft;
            timeLeft -= 1;
        }
    }, 1000);
</script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const finalizado = {{finalizado}};
        if (finalizado) {
            document.getElementById('finPopup').style.display = 'block';
            document.getElementById('popupBackground').style.display = 'block';
        }
    });

    // Redirigir al inicio al hacer clic en "Aceptar"
    document.getElementById('homeButton').addEventListener('click', function() {
        window.location.href = 'index.php';
    });



    document.getElementById('Volver_a_jugar').addEventListener('click', function() {
        window.location.href = "index.php?controller=Juego&action=iniciarPartida";
    });

</script>
