
<main>
    <div>
        <h2>{{nombreUsuario}}</h2>
        <h3>{{categoria}}</h3>
        <h3>{{pregunta}}</h3>

        <div >
            {{#respuestas}}
            <form method="post" action="index.php?controller=juego&action=verificarRespuesta">
                <button name="esCorrecta" id="esCorrecta" value="{{#esCorrecta}}true{{/esCorrecta}}{{^esCorrecta}}false{{/esCorrecta}}">{{respuesta}}</button>
            </form>
            {{/respuestas}}
        </div>

        <div >
            <h5>Puntaje: <span>{{puntaje}}</span></h5>
        </div>
    </div>
</main>

